/* modifiche generali */
* {
    margin: 0;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(247, 248, 249);
    padding-bottom: 30px;
}

main {
    border-radius: 10px;
}

header, main {
    background-color: #fff;
}

header, main, nav, section, p, h1{
    width: 70%;
    margin: auto;
}

p.item {
    margin: 15px 0 15px 0;
}

.checked.item img, .crossed.item img {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

/* modifiche header  */
header {
    width: 100%;
    margin-bottom: 100px;
}

.logo.top, header h1{
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.logo.top img {
    height: 70px;
    line-height: 70px;
}

header h1 {
    font-size: 50px;
    font-weight: 700;
}

/* modifiche main > nav */
div.nav_border {
    border-radius: 5px;
}

nav {
    width: 100%;
    height: 80px;
    line-height: 65px;
    border-bottom: 5px solid rgb(247, 248, 249);
}

nav button{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #d3d2d2 ;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

button:first-child {
    margin-left: 10%;
}

button.tasks {
    background-color: rgb(100, 170, 235);
    color: #fff;
}

button.sections {
    background-color: #fff;
    color: #cecece;
}

/* modifiche section */
main section {
    width: 80%;
    margin: auto;    
}

section h2 {
    display: inline-block;
    margin: 30px 0 20px 0;
}

section p{
    font-size: 20px;
    margin-bottom: 30px;
}

/* modifiche specifiche appuntamenti */
section p span {
    border-radius: 10px;
    padding: 8px;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
}
span.editorial {
    background-color: rgb(100, 170, 235);
}
span.recruiting {
    background-color: rgb(124, 190, 170);
}
span.qgoals {
    background-color: rgb(150, 116, 221);
}
 span.mobile {
    background-color: rgb(230, 162, 75);  
 }
span.website {
    background-color: rgb(202, 106, 158);      
}
span.sales {
    background-color: rgb(181, 200, 73);          
}