/* modifiche generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(247, 248, 249);
}

.container {
    border-radius: 10px;
    background-color: #fff;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
}

/* modifiche header  */
header {
    background-color: #fff;
    width: 100%;
    margin-bottom: 100px;
}

header img, header h1{
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    line-height: 70px;
}

header h1 {
    font-size: 50px;
    font-weight: 700;
}

/* modifiche main > nav */
nav {
    height: 80px;
    line-height: 80px;
    border-bottom: 5px solid rgb(247, 248, 249);
}

nav button{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 15px;
    border: 2px solid #d3d2d2 ;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

button:first-child {
    margin-left: 10%;
}

button.tasks {
    background-color: rgb(100, 170, 235);
    color: #fff;
}

button.sections {
    background-color: #fff;
    color: #cecece;
}

/* modifiche section */
main section {
    width: 80%;
    margin: auto;    
}

ul {
    margin-bottom: 25px;
    list-style-type: none; 
}

li{
    font-size: 22px;
    margin-top: 10px;
}

li img {
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

ul h2:first-child {
    margin-top: 50px;
}

/* modifiche specifiche appuntamenti */
section li span {
    border-radius: 10px;
    padding: 8px;
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
}
span.editorial {
    background-color: rgb(100, 170, 235);
}
span.recruiting {
    background-color: rgb(124, 190, 170);
}
span.qgoals {
    background-color: rgb(150, 116, 221);
}
 span.mobile {
    background-color: rgb(230, 162, 75);  
 }
span.website {
    background-color: rgb(202, 106, 158);      
}
span.sales {
    background-color: rgb(181, 200, 73);          
}